.alert {
  @apply pl-[15px] pr-[40px] py-[14px] relative transition-all;
}
.alert span {
  @apply capitalize font-semibold text-base;
}
.alert-success {
  @apply bg-green-100 text-green-700 border border-green-200;
}
.alert-danger {
  @apply bg-red-100 text-red-700 border border-red-200;
}
.alert-warning {
  @apply bg-orange-100 text-orange-700 border border-orange-200;
}
.alert-primary {
  @apply bg-blue-100 text-blue-700 border border-blue-200;
}

/* beautify alerts */
.beautify-success {
  @apply border-l-[5px] border-l-green-600 rounded-tl-none rounded-bl-none !important;
}
.beautify-danger {
  @apply border-l-[5px] border-l-red-600 rounded-tl-none rounded-bl-none !important;
}
.beautify-warning {
  @apply border-l-[5px] border-l-orange-600 rounded-tl-none rounded-bl-none !important;
}
.beautify-primary {
  @apply border-l-[5px] border-l-blue-600 rounded-tl-none rounded-bl-none !important;
}

.alert-close {
  @apply absolute top-0 right-0 h-full flex items-center px-3 text-[19px] cursor-pointer;
}
